@import 'Breakpoints.scss';

.Contact {
  font-family: 'Josefin Sans';
  margin-block-start: 120px;
  font-weight: 350;
  color: #1c274c;
  margin-block-end: 100px;

  @include mobile {
    margin-block-start: 60px;
    margin-block-end: 40px;
  }

  &__Grid {
    display: flex;
    gap: 60px;

    @include mobile {
      flex-direction: column;
      gap: 30px;
    }

    &Right {
      width: 100%;
    }
  }

  &__Title {
    font-weight: 400;
    font-size: 26px;
  }

  &__Text {
    font-size: 20px;
    margin-block-start: 10px;
  }

  &__Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include mobile {
      order: 2;
    }

    &Row {
      display: flex;
      gap: 20px;
      justify-content: center;
    }

    &Cell {
      width: 100%;
      font-weight: 400;

      p {
        font-size: 18px;
      }

      input,
      textarea {
        border-radius: 4px;
        font-size: 16px;
        padding-inline: 15px;
        padding-block: 10px;
        height: 38px;

        &:focus {
          box-shadow: 0 0 1px 1px #1c274c !important;
        }
      }

      textarea {
        resize: none;
        height: 150px;
      }
    }

    button {
      padding-inline: 30px;
      padding-block: 10px;
      border: 1px solid #c2c2c2;
      border-radius: 4px;
      background-color: transparent;

      &:hover {
        box-shadow: 0 0 1px 1px #1c274c !important;
      }
    }
  }
}
